extends app

block card
  section(class=`flashcards`)
    .card(class=`card-${sideToDisplay}`)
      .card-header
      h1.card-title= sideToDisplay
      #content
        h2= text
        if hint
          p.hint
            i= hint
      .card-flip-wrap
        a(href=`${id}?side=${sideToShow}`)
          img.card-flip(src='/static/img/flip.svg')
      .card-next
        a(href='/cards')
          img(src="/static/img/next.svg")
    script(src='/static/js/app.js')
